body {
	background-color: #fff;
}

img {
	display: block;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.bold {
	font-weight: bold;
}

.orange {
	color: orange;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
	color: #ccc;
}

header nav ul {
	margin: 20px 0 0;
}

header nav li, footer nav li {
	border-right: 1px solid #fff;
}

header nav li:last-child, footer nav li:last-child {
	border-right: 0;
}

header nav a, footer nav a {
	display: block;
	padding: 4px 20px;
}

header nav a:hover, footer nav a:hover {
	background-color: #fff;
	color: #000;
	text-decoration: none; 
} 

.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 30px 40px 60px;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

header {
	padding: 60px 0 20px;
	background-color: #333;
}

.logo {
	margin: 0 auto;
	display: block;
	width: 424px;
}

h1 {
	font-size: 21px;
	margin: 0;	
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 14px;
}

p {
	font-size: 12px;
	line-height: 26px;
}

/* Did you know section */
.did-you-know .copy {
	width: 30%;
}

.did-you-know .image-wrapper {
	width: 64%;
	padding: 0 0 0 6%;
}

.did-you-know img {
	width: 100%;
}

footer {
	color: #fff;
	background-color: #333;
	padding: 20px 40px;
}

footer small {
	display: block;
	text-align: center;
}









